.Main{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    width: 1000px;
}
.Content{
    position: relative;
    display: block;
    left: 90%;
}
.dropdownContent{
    width:100px;
    position:absolute;
    top:10px;
    z-index:35;
    border-radius:1px;
    padding: 10px;
}
